html{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

nav{
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    font-family: 'parta', serif;
    font-size: 22px;
}
.navigation{
    text-align: center;
}

.navigation li{
    display: inline-block;
    margin: 0 15px;
    color: #29c4bb;
}

h1, h2, h3, h4, h5 {
    font-family: 'Prata', serif;
}

h1 {
    font-size: 150px;
    margin: 0;
}

.laft-col, .right-col{
    color: rgb(255, 255, 255);
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laft-col{
    background-color: #003170;
    
}

.right-col {
    background-color: #75e3dd;
}

.scroll{
    color: #2864b1;
    text-align: center;
}

img{
    max-width: 100%;
}

footer{
    background-color: #f4979f;
    min-height: 220px;
    background-image: url(../img/socialmedia.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.social-icon{
    height: 60px;
}

.social-icon-containor{
    text-align: center;
}

h2 {
    font-size: 100px;
}

.works h2{
    color: #41ccc4;
}

.mtteam h2{
    color: #003170;
}

.contact h2{
    color: #f3747b;
}

h3 {
    font-size: 50px;
}

.works h3{
    color: #16736e;
}

.mtteam h3{
    color: #306fbf;
}


h4 {
    font-size: 32px;
    color: #16736e;
    background-color: #75e3dd;
    display: inline-block;
    margin: 0;
    padding: 4px;
}

.works a {
    letter-spacing: 3px;
    color: #2ce6dc;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.works {
    color: #16736e;
}

p {
    line-height: 145%;
}

.top-containor {
    width: 500px;
    margin: 0 auto;
}

.works h4{
    top: -5px;
}

.img-margin{
    margin-bottom: 60px;

}

.mtteam h3 {
    color: #306fbf;
    margin: 0 0 70px 0;
    line-height: 100%;
}

.imge{
    height: 230px;
}

.navigation li a {
    color: #29c4bb;
    text-decoration: none;
    font-family: 'Prata', serif;
}